<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="perfil-container">
    <h2>Sobre Mim</h2>
    <p>
      Olá! Meu nome é Pedro Henrique Souza Marques e sou estudante do curso de Análise e Desenvolvimento de Sistemas.
    </p>
    <p>
      Tenho grande interesse na área de tecnologia, principalmente no <strong>desenvolvimento de aplicações web e mobile</strong>.
      Atualmente, estou aprendendo e praticando Angular, TypeScript e Ionic.Com alguns fundamentos seguindo o html e
      css.
    </p>
    <p>
      Agora estou buscando evoluir minhas habilidades e construir projetos cada vez mais completos.
    </p>
    <p>
      Este aplicativo foi desenvolvido como parte de uma atividade acadêmica, com o objetivo de aplicar conceitos
      de desenvolvimento mobile utilizando o framework Ionic.
    </p>
    <p>
      <em>Estou sempre em busca de aprendizado e crescimento na área de programação.</em>
    </p>
  </div>
  <ion-button expand="block" (click)="navigateToHome()">Home</ion-button>
</ion-content>