<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedro Marques</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>SEJA BEM-VINDO</strong>
    <p>Aqui se inicia o meu portfolio pessoal <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Pedro Marques</a></p>
    <ion-button expand="full" (click)="navigateToDetails()">SOBRE</ion-button>
  </div>
</ion-content>
